<form class="m-2 border p-4 rounded">
  <app-form-input *ngFor="let input of formInputs"
                  [input]="input"
  >
  </app-form-input>
  <button class="btn btn-outline-primary"
          [disabled]="!passwordLength"
          (click)="generatePassword()"
          type="button"
  >
    Generate!
  </button>
  <hr>
  <div *ngIf="password"
       class="col-md-12 text-center mt-2"
  >
    <h3>
      Your password is:
      <br>
      <span class="badge bg-secondary">{{password}}</span>
    </h3>
  </div>
</form>
